<tr class="parent-row">
  <td class="parent-cell">
    <%= link_to source_path(source) do %>
      <%=source.print_name%>
    <% end %>
  </td>
  <td class="parent-cell"><%=source.name%></td>
  <td class="parent-cell">na</td>
  <td class="parent-cell"><%=source.kind%></td>
  <td class="parent-cell"><%=source.page_count%></td>
</tr>
