<%
counter = if source_counter % 2 == 0
                  "even"
                else
                  "odd"
                end
%>

<tr class="parent-row <%=counter%>">
  <td class="parent-cell left">
    <%= link_to source_path(source) do %>
      <%=source.name%>
    <% end %>
  </td>
  <td class="parent-cell cell centred"><%=source.author.name%></td>
  <td class="parent-cell cell centred"><%=source.kind.titleize%></td>
</tr>
