<style>


</style>
<title>DnD Home</title>
<body>
<div>
  <div class="hex">
    <button class="hex-button">
      <%= link_to("Spells", spells_path, :method => :get) %>
    </button>
  </div>
  <div class="hex">
    <button class="hex-button">
      <%= link_to("Items", spells_path, :method => :get) %>
    </button>
  </div>
  <div class="hex">
    <button class="hex-button">
      <%= link_to("Monsters", spells_path, :method => :get) %>
    </button>
  </div>
  <div class="hex">
    <button class="hex-button">
      <%= link_to("Classes", spells_path, :method => :get) %>
    </button>
  </div>
  <div class="hex">
    <button class="hex-button">
      <%= link_to("Names", spells_path, :method => :get) %>
    </button>
  </div>
</div>
</body>
