<%
class_src = character_class.source.abbr
class_src = character_class.source_id if class_src.nil?
counter_class = if character_class_counter % 2 == 0
                  "even"
                else
                  "odd"
                end
%>

<tr class="parent-row <%=counter_class%>">
  <td class="parent-cell left">
    <%= link_to character_class_path(character_class) do %>
      <%=character_class.print_name%>
    <% end %>
  </td>
  <td class="parent-cell cell left"><%=character_class.description%></td>
  <td class="parent-cell cell centred"><%=class_src%></td>
</tr>
