<div class="artwork-fade head-artwork">
  <%= image_tag("character_classes/#{@character_class.name.snakecase}_artwork1.png", :class => "artwork") %>
</div>

<div class="top">
  <div class="main-header-container">
    <%= link_to character_classes_path, :class => 'top-link' do %>
      <h1 class="top-header"><%=@character_class.name%></h1>
    <% end %>
  </div>
</div>

<div class="description-container">
  <div class="description">
    <%= @character_class.description %>
  </div>
</div>

<% if @features.any? %>
  <div class="list-header-container">
    <h3 class="list-header">Class Features</h3>
  </div>
  <div class="features-container">
    <%= render :partial => 'feature', :collection=> @features %>
  </div>
<% end %>

<% if @spells.any? %>
  <div class="list-header-container">
    <h3 class ="list-header">Spells</h3>
  </div>
  <%= render :partial => 'spells', :object => @spells %>
<% end %>
