<style>
  #filterchild {
    height: 0;
    margin: 0 auto;
    background-color: black;
    overflow-y: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  #filter-button {
    margin-left: 75px;
  }
  #submit-filter-button {
    margin-right: 75px;
    float:right;
  }
</style>

<script>
  var filterOpen = false;
  function toggleFilter() {
    if (filterOpen == true) {
      closeFilter();
    } else {
      openFilter();
    }
  }

  function openFilter() {
    document.getElementById("filterchild").style.height = "350px";
    $( "#filter-button" ).addClass("active");
    $( "#submit-filter-button" ).addClass("active");
    filterOpen = true;
  }

  function closeFilter() {
    document.getElementById("filterchild").style.height = "0";
    $( "#filter-button" ).removeClass("active");
    $( "#submit-filter-button" ).removeClass("active");
    filterOpen = false;
  }
</script>

<div class="spell-advanced-search-container">
  <div id="filterparent" class="advanced-search-drop">
    <%= button_tag(:type => 'button',
                   :class => "button filter",
                   :id => "filter-button",
                   :onclick => "toggleFilter()") do %>
      Filter
    <% end %>
  </div>
  <div id="filterchild">
    <%= form_tag(spells_path, :method => :get) do %>
      <div class="advanced-search-options">
        <table class="spell-filter-table">
          <tr class="spell-filter-table-head">
            <th>Classes (NI)</th>
            <th>Levels</th>
            <th>Schools</th>
            <th>Sources (NI)</th>
            <th>Other (NI)</th>
          </tr>
          <tbody>
            <tr class="spell-filter-table-row">
              <td>
                <% CharacterClass.all.each do |clas| %>
                  <div>
                    <%= check_box_tag("class_ids[]",
                                      clas.id,
                                      params[:class_ids].present? && params[:class_ids].include?(clas.id)) %>
                    <%= label_tag(clas.name) %>
                  </div>
                <% end %>
              </td>
              <td>
                <% (Spell::MIN_LEVEL..Spell::MAX_LEVEL).each do |i| %>
                  <div>
                    <%= check_box_tag("levels[]",
                                      i,
                                      params[:levels].present? && params[:levels].include?(i)) %>
                    <%= label_tag(Spell.print_level(i)) %>
                  </div>
                <% end %>
              </td>
              <td>
                <% Spell::Schools.each do |school, val| %>
                  <div>
                    <%= check_box_tag("schools[]",
                                      val,
                                      params[:schools].present? && params[:schools].include?(val)) %>
                    <%= label_tag(school) %>
                  </div>
                <% end %>
              </td>
              <td>
                <% Source::Kinds.each do |kind, val| %>
                  <div>
                    <%= check_box_tag("sources[]",
                                      val,
                                      params[:sources].present? && params[:sources].include?(val)) %>
                    <%= label_tag(kind) %>
                  </div>
                <% end %>
              </td>
              <td>
                <div>
                  concentration options
                </div>
                <div>
                  ritual options
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <%= submit_tag('Apply', :class => "button", :id => "submit-filter-button") %>
      </div>
    <% end %>
  </div>
</div>
