<script>

  $(document).ready(function () {
    var pr = $(".parent");
    var i;

    for (i = 0; i < pr.length; ++i) {
      pr[i].onclick = function(){
        this.classList.toggle("active");
        $( this ).next( "div" ).toggle();
      }
    }
  });

</script>

<div class="artwork-fade head-artwork">
  <%= image_tag("index/spell_artwork1.png", :class => "artwork") %>
</div>

<div class="top">
  <div class="main-header-container">
    <%= link_to spells_path, :class => 'top-link' do %>
      <%= image_tag("icons/spell_icon.png", :class => "top-icon spell-fire") %>
      <h1 class="top-header">Spells</h1>
    <% end %>
  </div>
</div>

<div id="index-container">
  <%= render :partial => "index_filter_form" %>
  <table class="index" id="spell-index-table">
    <tr style="background-color: white">
      <th>Source</th>
      <th>Name</th>
      <th>School and Level</th>
      <th>Casting Time</th>
      <th>Duration</th>
    </tr>
    <%= render :partial => 'spell', :collection => @spells, :as => :spell %>
  </table>
</div>
