<% content_for :head do %>
  <title><%= "#{@spell.name} on DNDb" %></title>
  <!-- TODO: Fill out later -->
  <script type="application/ld+json"></script>
<% end %>

<div id="amp-name">
  <div class="image">
    <h1><%= @spell.name %></h1>
  </div>
</div>
<div id="amp-content">
  <section>
    <h3 class="section-name">Summary</h4>
    <div>
      <p><%= @spell.print_level_school %></p>
      <p><%="#{@spell.source.name} (#{@spell.source.kind})"%></p>
    </div>
  </section>
  <section>
    <h3 class="section-name">Description</h4>
    <div>
      <p><%= simple_format(@spell.print_description) %></p>
    </div>
  </section>
</div>