<%
scroll_class = if @icon_color.present?
  "sidebar-scroll-image " + @icon_color
else
  "sidebar-scroll-image undefined-color"
end
%>

<script>
  $( "#scroll" ).click(function() {
    if (  $( this ).css( "transform" ) == 'none' ){
      $(this).css("transform","rotate(22deg)");
    } else {
      $(this).css("transform","" );
    }
  });
</script>

<div id="head" class="head">
  <div class="scroll-icon-container" onclick="toggleNav()">
    <%=image_tag("scroll.png", :class => scroll_class, :id => "scroll") %>
  </div>
  <div class="head-break">|</div>
  <div class="dndb">
    <%=link_to "DNDb", welcome_index_path, :class => "dndb"%>
  </div>
  <div class="head-break">|</div>
  <div class="crystal-search-container">
    <div class="crystal-search-input-container">
      <%= form_tag do %>
        <%= text_field_tag(
        :search_phrase,
        nil,
        {
          :id => "crystal-search",
          :class => "crystal-search-input",
          :placeholder => "...",
          :autocomplete => :off
        })
        %>
        <% end %>
      <div class="crystal-results" id="crystal-results"></div>
    </div>
    <%= image_tag("crystal_ball.png", :class => "crystal-ball-icon") %>
  </div>
</div>
