<div id="sidenav" class="sidenav">
  <%=image_tag "icons/dragon.png", :class => "sidebar-dragon" %>
  <%=link_to "HOME",      welcome_index_path,     :class => "home-link"%>
  <%=link_to "CLASSES",   character_classes_path, :class => "classes-link"%>
  <%=link_to "SPELLS",    spells_path,            :class => "spells-link"%>
  <%=link_to "ITEMS",     items_path,             :class => "items-link"%>
  <%=link_to "SOURCES",   sources_path,           :class => "sources-link"%>
  <%=link_to "MONSTERS",  welcome_index_path,     :class => "monsters-link"%>
</div>
