<div id="sidenav" class="sidenav">
  <%=link_to "HOME", welcome_index_path%>
  <%=link_to "CLASSES", character_classes_path%>
  <%=link_to "SPELLS", spells_path%>
  <%=link_to "ITEMS", items_path%>
  <%=link_to "SOURCES", sources_path%>
</div>
