<!DOCTYPE html>
<html>
<head>
  <title>Dnd</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/navigation" %>
  <div id="main">
    <%= render "layouts/head" %>
    <div id="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
